body {
  font-family: Arial;
  text-align: center;
}

#image {
  width: 450px;
  height: 300px;
  margin: 20px auto;
  border: 2px solid #000;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.gallery img {
  width: 120px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
}
